@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin: 2rem;
}

header {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}

.world {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #000d4a;
}

.buttons {
  position: absolute;
  margin: 1rem;
}

.startscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, .7);
}

.endscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, .7);
}

.centerblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  text-align: center;
  font-family: 'Rozha One';
  font-size: 5rem;
  margin: 1rem;

}

.start-title {
  color: white;
  text-align: center;
  font-family: 'Rozha One';
  font-size: 10rem;
}

.action-text {
  margin-top: 3rem;
  color: white;
  font-family: Montserrat;

  font-size: 1.5rem;
  text-transform: uppercase;
}

.play-game-vr {
  margin-top: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vr-logo {
  margin-top: 1rem;
  width: 5rem;
}

.button {
  display: none;
}

.score-bar {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.running-score {
  color: white;
  font-family: 'Rozha One';
  font-size: 2rem;
  margin-top: 1.5rem;
  width: 4rem;
}

.countdownscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown {
  color: white;
  font-family: 'Rozha One';
  font-size: 10em;
  margin-top: 3rem;
}

.endscore {
  color: white;
  text-align: center;
  font-family: 'Rozha One';
  font-size: 3em;
}

.vr-content-left {
  position: absolute;
  width: 100%;
  height: 100%;
}

.vr-content-right {
  position: absolute;
  width: 100%;
  height: 100%;
}

.vr-content-active {
  position: absolute;
  width: 50%;
  height: 100%;
}

.vr-left {
  width: 50%;
  margin-right: 50%;
}

.vr-right {
  width: 50%;
  margin-left: 50%;
}

.home-button-block {
  margin-top: 3rem;
}

.restart-button {
  color: black;
  background: white;
  padding: 1rem 2rem;
}

.hidden {
  display: none;
}
